<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="tripasEntities" connectionString="metadata=res://*/tripasDB.csdl|res://*/tripasDB.ssdl|res://*/tripasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z\SQLEXPRESS;initial catalog=tripasDB;user id=Admin1;password=MiContrasena1!;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPasswordRecoveryManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailVerificationManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILeaderboardManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IStatusManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyBrowser">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailInvitationManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/UserManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="ProxyTripas.IUserManager"
                name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:8081/FriendsManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="ProxyTripas.IFriendsManager"
                name="NetTcpBinding_IFriendsManager" />
            <endpoint address="net.tcp://localhost:8081/ChatManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatManager" contract="ProxyTripas.IChatManager"
                name="NetTcpBinding_IChatManager" />
            <endpoint address="net.tcp://localhost:8081/PasswordRecoveryManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPasswordRecoveryManager"
                contract="ProxyTripas.IPasswordRecoveryManager" name="NetTcpBinding_IPasswordRecoveryManager" />
            <endpoint address="net.tcp://localhost:8081/EmailVerificationManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailVerificationManager"
                contract="ProxyTripas.IEmailVerificationManager" name="NetTcpBinding_IEmailVerificationManager" />
            <endpoint address="net.tcp://localhost:8081/LeaderboardManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderboardManager"
                contract="ProxyTripas.ILeaderboardManager" name="NetTcpBinding_ILeaderboardManager" />
            <endpoint address="net.tcp://localhost:8081/StatusManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IStatusManager" contract="ProxyTripas.IStatusManager"
                name="NetTcpBinding_IStatusManager" />
            <endpoint address="net.tcp://localhost:8081/LobbyManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyManager" contract="ProxyTripas.ILobbyManager"
                name="NetTcpBinding_ILobbyManager" />
            <endpoint address="net.tcp://localhost:8081/LobbyBrowser" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyBrowser" contract="ProxyTripas.ILobbyBrowser"
                name="NetTcpBinding_ILobbyBrowser" />
            <endpoint address="net.tcp://localhost:8081/MatchManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMatchManager" contract="ProxyTripas.IMatchManager"
                name="NetTcpBinding_IMatchManager" />
            <endpoint address="net.tcp://localhost:8081/EmailInvitationManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailInvitationManager"
                contract="ProxyTripas.IEmailInvitationManager" name="NetTcpBinding_IEmailInvitationManager" />
        </client>
    </system.serviceModel>
</configuration>