<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="tripasEntities" connectionString="metadata=res://*/tripasDB.csdl|res://*/tripasDB.ssdl|res://*/tripasDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z\SQLEXPRESS;initial catalog=tripasDB;user id=Admin1;password=123;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="TripasService.Services.TripasGameService">
				<endpoint address="UserManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IUserManager" />
				<endpoint address="FriendsManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IFriendsManager" />
				<endpoint address="ChatManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IChatManager" />
				<endpoint address="PasswordRecoveryManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IPasswordRecoveryManager" />
				<endpoint address="EmailVerificationManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IEmailVerificationManager" />
				<endpoint address="LeaderboardManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.ILeaderboardManager" />
				<endpoint address="StatusManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IStatusManager" />
				<endpoint address="LobbyManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.ILobbyManager" />
				<endpoint address="LobbyBrowser" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.ILobbyBrowser" />
				<endpoint address="MatchManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IMatchManager" />
				<endpoint address="EmailInvitationManager" binding="netTcpBinding" bindingConfiguration="" contract="TripasService.Contracts.IEmailInvitationManager" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
		
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>